@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .info-card {
    @apply col-span-1 row-span-1 rounded-2xl bg-gray-800 text-white;
  }
  .current-card {
    @apply rounded-2xl bg-gray-800 text-white;
  }
  .cropped-image {
    width: 450px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}
