@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .current-card {
    @apply rounded-2xl bg-gray-800 text-white;
  }
  .cropped-image {
    width: 450px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

html, body, #__next {
    height: 100%;
    padding: 0%;
}
